.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.newAccount {
  display: none;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1635px;
  }
}
.alreadyHaveAccountText {
  display: none;
}
